body {
    background: black;
    width: 100%;
    }
div {
    padding: 10px;
    margin: 200px 300px ;
    background-position:  center ;
    width: 650px; height: 510px;
    background-color: white ;
    font-family: serif;
    font-size: 12px;
    }
h4{text-align: right;
    margin-top: 5px;
    }
h2{
    text-decoration: underline;
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    }
.p1{
    text-align: right;
    }
.p2{
    text-align: justify;
    text-indent: 1.5em;
    font-family: 'Bad Script', cursive;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    }
.p3 {
    margin-top: 15px;
    }
p span{font-style: italic;
    }